ExtIdHelpers/main/default/flows/Scramble_User_Info.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Scramble_User_Info</name>
        <label>Scramble User Info</label>
        <locationX>1702</locationX>
        <locationY>238</locationY>
        <actionName>ScrambleUserInfo</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>User_Item.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Account_Contact_Id</name>
        <label>Account Contact Id</label>
        <locationX>374</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountRecord.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Record_Id_to_Contact_Id</name>
        <label>Record Id to Contact Id</label>
        <locationX>372</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stages_Contact</name>
        <label>Update Stages Contact</label>
        <locationX>831</locationX>
        <locationY>45</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Users_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Contact_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stages_No_Contact</name>
        <label>Update Stages No Contact</label>
        <locationX>634</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Contact_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>No_Contact_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Contacts_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stages_No_Users</name>
        <label>Update Stages No Users</label>
        <locationX>1280</locationX>
        <locationY>241</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_Users_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemoveAfterFirst</operator>
            <value>
                <elementReference>Contact_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>No_Users_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Users_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Stages_Users</name>
        <label>Update Stages Users</label>
        <locationX>1509</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Users_Found_Stage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_or_Contact</name>
        <label>Account or Contact</label>
        <locationX>192</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>No_Record_Id_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Accounts</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>Is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Id_to_Contact_Id</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Contacts_or_Not</name>
        <label>Has Contacts or Not</label>
        <locationX>627</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Update_Stages_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stages_No_Contact</targetReference>
            </connector>
            <label>Has No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_User_or_Not</name>
        <label>Has User or Not</label>
        <locationX>1272</locationX>
        <locationY>46</locationY>
        <defaultConnector>
            <targetReference>Update_Stages_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_No_Users</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Users</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stages_No_Users</targetReference>
            </connector>
            <label>Has No Users</label>
        </rules>
    </decisions>
    <interviewLabel>Scramble User Info {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scramble User Info</label>
    <loops>
        <name>Process_Users</name>
        <label>Process Users</label>
        <locationX>1701</locationX>
        <locationY>43</locationY>
        <assignNextValueToReference>User_Item</assignNextValueToReference>
        <collectionReference>Selected_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Scramble_User_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>202</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Contact_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get_Contact_Info</label>
        <locationX>501</locationX>
        <locationY>43</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Contacts_or_Not</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Users</name>
        <label>Get_Related_Users</label>
        <locationX>1125</locationX>
        <locationY>44</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_User_or_Not</targetReference>
        </connector>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Selected_Users</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
    </recordLookups>
    <screens>
        <name>Confirm_Contact_Screen</name>
        <label>Confirm_Contact_Screen</label>
        <locationX>998</locationX>
        <locationY>45</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Related_Users</targetReference>
        </connector>
        <fields>
            <name>Found_Contact_Progress</name>
            <extensionName>dhfpi:progressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Confirm_Contact_Display</name>
            <fieldText>&lt;p&gt;Confirm contact:&lt;/p&gt;&lt;p&gt;{!contactRecord.FirstName} {!contactRecord.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation_Screen</label>
        <locationX>1897</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Users_Updated_Progress</name>
            <extensionName>dhfpi:progressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Complete_Delete_User</name>
            <fieldText>&lt;p&gt;Done!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Contacts_Found</name>
        <label>No Contacts Found</label>
        <locationX>634</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Contacts_Progress</name>
            <extensionName>dhfpi:progressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Contacts_Found_Display</name>
            <fieldText>&lt;p&gt;There were no Contacts Found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Record_Id_Found_Screen</name>
        <label>No Record Id Found Screen</label>
        <locationX>92</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Record_Id_Found</name>
            <fieldText>&lt;p&gt;No Record Id Found, please supply a value.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Users_Found</name>
        <label>No Users Found</label>
        <locationX>1280</locationX>
        <locationY>427</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Users_Progress</name>
            <extensionName>dhfpi:progressIndicator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>No_Users_Found_Display</name>
            <fieldText>&lt;p&gt;No Users were found.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Contact_Found_Stage</name>
        <isActive>false</isActive>
        <label>Confirm Contact</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>No_Contact_Found_Stage</name>
        <isActive>false</isActive>
        <label>No Contact Found</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>No_Users_Found_Stage</name>
        <isActive>false</isActive>
        <label>No Users Found</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Users_Found_Stage</name>
        <isActive>false</isActive>
        <label>Users Scrambled</label>
        <stageOrder>4</stageOrder>
    </stages>
    <startElementReference>Account_or_Contact</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Current_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ContactFound</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_Item</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
